.button {
    -fx-background-radius: 10;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: linear-gradient(to bottom, #5d8be8, #d99847);
    -fx-font-family: Georgia;

}




.combo-box {

    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: linear-gradient(to bottom, #5d8be8, #d99847);
    -fx-font-family: Georgia;

}

.combo-box .list-cell {

    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: linear-gradient(to bottom, #5d8be8, #d99847);
    -fx-font-family: Georgia;
}

.combo-box .scroll-pane{
    -fx-background-color: linear-gradient(to bottom, #5d8be8, #d99847);

}






.label {
    -fx-text-fill: white;
    -fx-font-family: Georgia;
}




.progress-indicator {
    -fx-progress-color: #CD7F32;
}




.root {
    -fx-background-image: url("Pictures/5.png");

}




.text-field {
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: linear-gradient(to bottom, #5d8be8, #d99847);
    -fx-font-family: Georgia;
    -fx-prompt-text-fill: white;
}












.table-view {
    -fx-background-color:  transparent;
    -fx-font-family: Georgia;
}



.table-view .cell {
    -fx-background-color: transparent;
    -fx-text-fill: White;
    -fx-border-color: transparent;
    -fx-font-family: Georgia;
}



.table-view .check-box.cell {
    -fx-background-color: transparent;
}

.table-view .combo-box {
    -fx-background-color: transparent;
}









.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}


.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .combo-box. cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}